<div class="authen-form">
  <h2 class="mb-4">Log in</h2>

  <%= form_with url: log_in_path do |f| %>
    <div class="mb-3">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "form-control", placeholder: "example@email.com" %>
    </div>

    <div class="mb-3">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto mt-3">
      <%= f.submit "Log in", class: "btn btn-primary btn-greeny" %>
    </div>

    <p class="text-center mt-4">Not a member? <%= link_to "Sign up", sign_up_path, class: "link" %></p>
  <% end %>
</div>
