<div class="authen-form">
  <h2 class="mb-4">Sign Up</h2>

  <%= form_with model: @user, url: sign_up_url do |form| %>
    <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :email %>
      <%= form.email_field :email, class: "form-control", placeholder: "trannguyen@gmail.com" %>
    </div>
    <div class="mb-3">
      <%= form.label :username %>
      <%= form.text_field :username, class: "form-control", placeholder: "Tran Nguyen" %>
    </div>
    <div class="mb-3">
      <%= form.label :birthday %>
      <%= form.date_field :birthday, class: "form-control", placeholder: "01/06/2000" %>
    </div>
    <div class="mb-3">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control", placeholder: "" %>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto mb-3">
      <%= form.submit "Sign Up", class: "btn btn-primary" %>
    </div>

    <p class="text-center mt-4">Already a member? <%= link_to "Log in", log_in_path, class: "link" %></p>
  <% end %>
</div>