<li class="user-review d-flex my-4">
  <div class="user-review--avatar me-3">
    <%= image_tag "user.png" %>
  </div>
  <div class="user-review--user">
    <div class="highlight-text">
      <%= review.user.username %>
    </div>
    <p>rated it <%= review.rating %></p>
    <p>
      <%= review.content %>
    </p>
    <div>
      <div>
        <% pre_like = review.review_likes.find { |like| like.user_id == session[:user_id] } %>
        <% if pre_like %>
          <%= link_to 'Unlike', user_review_like_path(review, pre_like), method: :delete %>
        <% else %>
          <%= link_to 'Like', user_review_likes_path(review), method: :post %>
        <% end %>
      </div>
    </div>
  </div>
</li>
