<div class="review-page">
    <h1>Reviews</h1>
    <div class="header">
      <%# TODO: implement search by name %>
      <input id="txt-search-box" type="text" class="form-control" style="max-width:25rem;" placeholder="Search reviews..." title="" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Book</th>
                <th scope="col">Rating</th>
                <th scope="col">Content</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% @reviews.each do |review| %>
            <tr>
                <th scope="row"><%= review.id %></th>
                <td><%= review.user.username %></td>
                <td><%= review.book.name %></td>
                <td><%= review.rating %></td>
                <td><%= review.content %></td>
                <td>
                    <a href="<%= review_path(review) %>" data-method="delete" data-confirm="Are you sure?" role="button" class="btn btn-outline-danger bi-trash"></a>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>