<!DOCTYPE html>
<html>
  <head>
    <title>AmazingGudRead</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app">
      <% if request.fullpath !~ %r[^/admin] %>
        <%# show header for user's routes %>
        <%= render "layouts/header" %>
        <div class="container-fluid">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <% else%>
        <%= render "layouts/sidebar_menu"%>
        <div class="container-fluid">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
        <% end %>
        <div class="app-content"><%= yield %></div>
      </div>
      <% end %>
    </div>
  </body>
</html>
